.app-header {
    text-align: center;
    padding: 20px 0;
    background-color: #e8f5e9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    height: auto;
}


.logo {
    height: 60px;
    width: auto;
    transition: transform 0.2s;
}